<form name="editForm" role="form" novalidate ng-submit="save()">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
    <h4 class="modal-title" id="myUpdateLogLabel" translate="reservationsApp.updateLog.home.createOrEditLabel">Create or
      edit a UpdateLog</h4>
  </div>
  <div class="modal-body">
    <jh-alert-error></jh-alert-error>
    <!-- <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="updateLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reservationsApp.updateLog.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="updateLog.message"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reservationsApp.updateLog.messageType" for="field_messageType">MessageType</label>
            <input type="number" class="form-control" name="messageType" id="field_messageType"
                    ng-model="updateLog.messageType"
                     />
        </div> -->

    <div class="form-group">
      <label class="control-label" translate="reservationsApp.updateLog.additionalMessage"
        for="field_additionalMessage">
        AdditionalMessage
      </label>
      <textarea class="form-control" name="additionalMessage" id="field_additionalMessage"
        ng-model="updateLog.additionalMessage"></textarea>
    </div>

    <!-- <div class="form-group">
            <label class="control-label" translate="reservationsApp.updateLog.entityType" for="field_entityType">EntityType</label>
            <input type="number" class="form-control" name="entityType" id="field_entityType"
                    ng-model="updateLog.entityType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reservationsApp.updateLog.timeInput" for="field_timeInput">TimeInput</label>
            <input type="datetime-local" class="form-control" name="timeInput" id="field_timeInput"
                    ng-model="updateLog.timeInput"
                     />
        </div>

        <div class="form-group">
            <label translate="reservationsApp.updateLog.reservation" for="field_reservation">reservation</label>
            <select class="form-control" id="field_reservation" name="reservation" ng-model="updateLog.reservationId" ng-options="reservation.id as reservation.id for reservation in reservations">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="reservationsApp.updateLog.room" for="field_room">room</label>
            <select class="form-control" id="field_room" name="room" ng-model="updateLog.roomId" ng-options="room.id as room.id for room in rooms">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="reservationsApp.updateLog.item" for="field_item">item</label>
            <select class="form-control" id="field_item" name="item" ng-model="updateLog.itemId" ng-options="item.id as item.id for item in items">
                <option value=""></option>
            </select>
        </div> -->

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
  </div>
</form>