<div>
  <h2 translate="reservationsApp.updateLog.home.title">UpdateLogs</h2>
  <jh-alert></jh-alert>
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary" ui-sref="updateLog.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span translate="reservationsApp.updateLog.home.createLabel">Create new UpdateLog
          </span>
        </button>
      </div>
    </div>
  </div> -->
  <br />
  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
          <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="message"><span translate="reservationsApp.updateLog.message">Message</span> <span
              class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="messageType"><span translate="reservationsApp.updateLog.messageType">MessageType</span> <span
              class="glyphicon glyphicon-sort"></span></th>
          <!-- <th jh-sort-by="additionalMessage"><span
              translate="reservationsApp.updateLog.additionalMessage">AdditionalMessage</span> <span
              class="glyphicon glyphicon-sort"></span></th> -->
          <th jh-sort-by="entityType"><span translate="reservationsApp.updateLog.entityType">EntityType</span> <span
              class="glyphicon glyphicon-sort"></span></th>


          <th>
            <span translate="reservationsApp.updateLog.entitys">Entity</span>
            <!-- <span class="glyphicon glyphicon-sort"></span> -->
          </th>

          <th jh-sort-by="timeInput">
            <span translate="reservationsApp.updateLog.timeInput">TimeInput</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <!-- <th jh-sort-by="roomId">
            <span translate="reservationsApp.updateLog.room">room</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>

          <th jh-sort-by="itemId">
            <span translate="reservationsApp.updateLog.item">item</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th> -->

          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="updateLog in updateLogs track by updateLog.id">
          <td><a ui-sref="updateLog.detail({id:updateLog.id})">{{updateLog.id}}</a></td>
          <td>{{updateLog.message}}</td>
          <td>
            <span ng-style="setColor(updateLog.messageType)">
              {{setMessageType(updateLog.messageType)}}
              <!-- {{updateLog.messageType}} -->
            </span>
          </td>
          <!-- <td>{{updateLog.additionalMessage}}</td> -->
          <td>{{setEntityType(updateLog.entityType)}}</td>

          <td>
            <a ng-show="updateLog.reservationId !== null" ui-sref="reservation.detail({id:updateLog.reservationId})"
              style="font-weight: 600;">
              {{updateLog.reservationId}}
            </a>
            <a ng-show="updateLog.roomId !== null" ui-sref="room.detail({id:updateLog.roomId})" style="font-weight: 600;">
              {{updateLog.roomId}}
            </a>
            <a ng-show="updateLog.itemId !== null" ui-sref="item.detail({id:updateLog.itemId})" style="font-weight: 600;">
              {{updateLog.itemId}}
            </a>
            <span ng-show="onAllEntitysNull(updateLog)" style="user-select: none;">
              {{updateLog.dummyId}}
            </span>
          </td>

          <td>{{updateLog.timeInput | date:'medium'}}</td>

          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <!-- <button type="submit" ui-sref="updateLog.detail({id:updateLog.id})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
              </button> -->
              <button type="submit" ui-sref="updateLog.edit({id:updateLog.id})" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
              </button>
              <!-- <button type="submit" ui-sref="updateLog.delete({id:updateLog.id})" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()">
    </uib-pagination>
  </div>
</div>