
<div>
    <h2><span translate="reservationsApp.updateLog.detail.title">UpdateLog</span> {{updateLog.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="reservationsApp.updateLog.message">Message</span>
                </td>
                <td>
                    <span class="form-control-static">{{updateLog.message}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.updateLog.messageType">MessageType</span>
                </td>
                <td>
                    <span class="form-control-static">{{updateLog.messageType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.updateLog.additionalMessage">AdditionalMessage</span>
                </td>
                <td>
                    <span class="form-control-static">{{updateLog.additionalMessage}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.updateLog.entityType">EntityType</span>
                </td>
                <td>
                    <span class="form-control-static">{{updateLog.entityType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.updateLog.timeInput">TimeInput</span>
                </td>
                <td>
                    <span class="form-control-static">{{updateLog.timeInput | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.updateLog.reservation">reservation</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="reservation.detail({id:updateLog.reservationId})">{{updateLog.reservationId}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.updateLog.room">room</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="room.detail({id:updateLog.roomId})">{{updateLog.roomId}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.updateLog.item">item</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="item.detail({id:updateLog.itemId})">{{updateLog.itemId}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
