<div>
  <h2><span translate="reservationsApp.room.detail.title">Room</span> {{room.id}}</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th translate="entity.detail.field">Field</th>
          <th translate="entity.detail.value">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span translate="reservationsApp.room.roomName">RoomName</span>
          </td>
          <td>
            <span class="form-control-static">{{room.roomName}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span translate="reservationsApp.room.userInput">UserInput</span>
          </td>
          <td>
            <span class="form-control-static">{{room.userInput}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span translate="reservationsApp.room.timeInput">TimeInput</span>
          </td>
          <td>
            <span class="form-control-static">{{room.timeInput | date:'medium'}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span translate="reservationsApp.room.listedItems">listedItems</span>
          </td>
          <td>
            <span ng-repeat="listedItems in room.listedItemss">
              <a class="form-control-static"
                ui-sref="item.detail({id: {{listedItems.id}}})">{{listedItems.itemName}}</a>{{$last ? '' : ', '}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button type="submit" onclick="window.history.back()" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
  </button>
</div>