<form name="editForm" role="form" novalidate ng-submit="save()">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
    <h4 class="modal-title" id="myRoomLabel" translate="reservationsApp.room.home.createOrEditLabel">Create or edit a
      Room</h4>
  </div>
  <div class="modal-body">
    <jh-alert-error></jh-alert-error>

    <div class="form-group">
      <label class="control-label" translate="reservationsApp.room.roomName" for="field_roomName">RoomName</label>
      <input type="text" class="form-control" name="roomName" id="field_roomName" ng-model="room.roomName" required />
    </div>

    <div class="form-group">
      <label style="display: block; width: 100%;" translate="reservationsApp.room.listedItems"
        for="field_listedItems"
      >
        listedItems
      </label>
      <!-- <select class="form-control" id="field_listedItems" multiple name="listedItems" ng-model="room.listedItemss"
        ng-options="item as item.itemName for item in items track by item.id">
      </select> -->

      <div class="container-fluid row room-ctrl-checks">
        <div class="checkbox col-xs-2" ng-repeat="(index, item) in items">

          <label>
            <input type="checkbox" ng-model="checkedItems[item.id]" />
            {{item.itemName}}
          </label>

        </div>
      </div>

    </div>

  </div>


  <!-- Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>

    <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
  </div>

</form>