<div class="entity-container">
  <h2 translate="reservationsApp.room.home.title">Rooms</h2>
  <jh-alert></jh-alert>
  <div class="container-fluid">
    <div class="row">

      <!-- <div class="col-xs-12 no-padding-left">
        <button class="btn btn-primary" ui-sref="room.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span translate="reservationsApp.room.home.createLabel">Create new Room</span>
        </button>
      </div> -->

      <!-- Filter  -->
      <div class="col-xs-12 row filter-bar" ng-controller="FilterController">

        <div class="filter-wrapper">

          <div class="btn-group" uib-dropdown on-toggle="toggleDropDown(open)">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
              {{convert(selectedFilter)}} <span class="glyphicon glyphicon-menu-down"></span>
            </button>

            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-repeat="filter in filters" ng-click="setFilterValue(filter)">
                <a href="javascript:void(0)">{{convert(filter)}}</a>
              </li>
            </ul>
          </div>

          <input id="filter-input-field" ng-model="key" type="text" class="form-control" placeholder="Filter..." />

          <button class="btn btn-primary" ng-click="startFilter()">
            <span class="glyphicon glyphicon-search"></span>
            <span>Find</span>
          </button>

          <button class="btn btn-primary" ng-click="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
            <span>Refresh</span>
          </button>

        </div>

      </div>
      <!-- End FIlter -->

    </div>
  </div>
  <br />
  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
          <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="roomName">
            <span translate="reservationsApp.room.roomName">RoomName</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          
          <th jh-sort-by="userInput">
            <span translate="reservationsApp.room.userInput">UserInput</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          
          <th jh-sort-by="timeInput">
            <span translate="reservationsApp.room.timeInput">TimeInput</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          
          <th>
            <span translate="reservationsApp.room.listedItems">Item Lists</span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="room in rooms track by room.id">
          <td><a ui-sref="room.detail({id:room.id})">{{room.id}}</a></td>
          
          <td>{{room.roomName}}</td>

          <td>{{room.userInput}}</td>

          <td>{{room.timeInput | date:'medium'}}</td>

          <td>
            <span ng-repeat="item in room.listedItemss">{{item.itemName}}</span>
          </td>

          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button type="submit" ui-sref="room.detail({id: room.id})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
              </button>
              <button type="submit" ui-sref="room.edit({id:room.id})" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
              </button>
              <button type="submit" ui-sref="room.delete({id:room.id})" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()">
    </uib-pagination>
  </div>
</div>