
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myItemLabel" translate="reservationsApp.item.home.createOrEditLabel">Create or edit a Item</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="control-label" translate="reservationsApp.item.itemName" for="field_itemName">ItemName</label>
            <input type="text" class="form-control" name="itemName" id="field_itemName"
                    ng-model="item.itemName"
                    required />
            <div ng-show="editForm.itemName.$invalid">
                <p class="help-block"
                    ng-show="editForm.itemName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reservationsApp.item.itemQuantity" for="field_itemQuantity">ItemQuantity</label>
            <input type="number" class="form-control" name="itemQuantity" id="field_itemQuantity"
                    ng-model="item.itemQuantity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reservationsApp.item.itemDetails" for="field_itemDetails">ItemDetails</label>
                <textarea class="form-control" name="itemDetails" id="field_itemDetails"
                    ng-model="item.itemDetails"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
