
<div>
    <h2><span translate="reservationsApp.item.detail.title">Item</span> {{item.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="reservationsApp.item.itemName">ItemName</span>
                </td>
                <td>
                    <span class="form-control-static">{{item.itemName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.item.itemQuantity">ItemQuantity</span>
                </td>
                <td>
                    <span class="form-control-static">{{item.itemQuantity}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.item.itemDetails">ItemDetails</span>
                </td>
                <td>
                    <span class="form-control-static">{{item.itemDetails}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.item.userInput">UserInput</span>
                </td>
                <td>
                    <span class="form-control-static">{{item.userInput}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.item.timeInput">TimeInput</span>
                </td>
                <td>
                    <span class="form-control-static">{{item.timeInput | date:'medium'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
