<div class="entity-container">
  <h2 translate="reservationsApp.item.home.title">Items</h2>
  <jh-alert></jh-alert>
  <div class="container-fluid">
    <div class="row">

      <!-- <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary" ui-sref="item.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span translate="reservationsApp.item.home.createLabel">Create new Item
          </span>
        </button>
      </div> -->

      <!-- Filter  -->
      <div class="col-xs-12 row filter-bar" ng-controller="FilterController">

        <div class="filter-wrapper">

          <div class="btn-group" uib-dropdown on-toggle="toggleDropDown(open)">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
              {{convert(selectedFilter)}} <span class="glyphicon glyphicon-menu-down"></span>
            </button>

            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-repeat="filter in filters" ng-click="setFilterValue(filter)">
                <a href="javascript:void(0)">{{convert(filter)}}</a>
              </li>
            </ul>
          </div>

          <input ng-model="key" type="text" class="form-control"
            uib-typeahead="flt for flt in filterValues[selectedFilter.replace(' ', '')]" placeholder="Filter..."
            uib-typeahead-min-length="-1" />

          <button class="btn btn-primary" ng-click="startFilter()">
            <span class="glyphicon glyphicon-search"></span>Find
          </button>

          <button class="btn btn-primary" ng-click="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>Refresh
          </button>

        </div>

      </div>
      <!-- End FIlter -->

    </div>
  </div>
  <br />
  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
          <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="itemName"><span translate="reservationsApp.item.itemName">ItemName</span> <span
              class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="itemQuantity"><span translate="reservationsApp.item.itemQuantity">ItemQuantity</span> <span
              class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="itemDetails"><span translate="reservationsApp.item.itemDetails">ItemDetails</span> <span
              class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="userInput"><span translate="reservationsApp.item.userInput">UserInput</span> <span
              class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="timeInput"><span translate="reservationsApp.item.timeInput">TimeInput</span> <span
              class="glyphicon glyphicon-sort"></span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items track by item.id">
          <td><a ui-sref="item.detail({id:item.id})">{{item.id}}</a></td>
          <td>{{item.itemName}}</td>
          <td>{{item.itemQuantity}}</td>
          <td>{{item.itemDetails}}</td>
          <td>{{item.userInput}}</td>
          <td>{{item.timeInput | date:'medium'}}</td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button type="submit" ui-sref="item.detail({id:item.id})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
              </button>
              <button type="submit" ui-sref="item.edit({id:item.id})" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
              </button>
              <button type="submit" ui-sref="item.delete({id:item.id})" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()">
    </uib-pagination>
  </div>
</div>