* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border: 0;
  z-index: 1000;
  background-image: url("../images/development_ribbon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
  font-size: 10px;
  color: #ccc;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.error {
  color: white;
  background-color: red;
}

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url("../images/hipster.png") no-repeat center top;
  background-size: contain;
}

.pad {
  padding: 10px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url("../images/hipster2x.png") no-repeat center top;
    background-size: contain;
  }
}

.hand {
  cursor: pointer;
}

#threadDump .popover,
#healthCheck .popover {
  top: inherit;
  display: block;
  font-size: 10px;
  max-width: 1024px;
}

#healthCheck .popover {
  margin-left: -50px;
}

.health-details {
  min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert {
  text-overflow: ellipsis;
}
.alert pre {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.alert .popover pre {
  font-size: 10px;
}

.alerts .toast {
  position: fixed;
  width: 100%;
}

.alerts .toast.left {
  left: 5px;
}

.alerts .toast.right {
  right: 5px;
}

.alerts .toast.top {
  top: 55px;
}

.alerts .toast.bottom {
  bottom: 55px;
}

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%;
  }
}

/* end of Custom alerts for notification */

.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 15px;
}
.voffset4 {
  margin-top: 30px;
}
.voffset5 {
  margin-top: 40px;
}
.voffset6 {
  margin-top: 60px;
}
.voffset7 {
  margin-top: 80px;
}
.voffset8 {
  margin-top: 100px;
}
.voffset9 {
  margin-top: 150px;
}

/* start Password strength bar style */
ul#strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}

.point:last {
  margin: 0 !important;
}
.point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 20px;
}
/* end Password strength bar style */

.readonly {
  background-color: #eee;
  opacity: 1;
}

/* entity tables helpers */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
  width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* Align text in td verifically (top aligned by Bootstrap) */
.jh-table > tbody > tr > td {
  vertical-align: middle;
}
/* end of entity tables helpers */

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* jhipster-needle-css-add-main JHipster will add new css style */

.filter-bar {
  position: relative;
  margin: 1em auto;
  padding: 0;
}

.filter-bar > .filter-wrapper {
  margin: 0 auto;
  width: max-content;
}

.filter-wrapper > [uib-dropdown] {
  width: 110px;
}
[uib-dropdown] > .btn.btn-primary {
  width: inherit;
}

.filter-bar input.form-control {
  display: inline-block;
  width: 30%;
  min-width: 100px;
}

.room-ctrl-checks .checkbox {
  margin: 0;
}

.float-btn {
  position: fixed;
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;

  cursor: pointer;

  right: 4%;
  bottom: 4%;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  transition: background-color 100ms linear;
}

.float-btn a {
  display: block;
  height: 28px;
  font-size: 22px;
  margin: auto;
  color: white;
  border-radius: 50%;
}

.float-btn:hover {
  background-color: #286090;
  border-color: #204d74;
}

/* .float-btn a > .glyphicon {
} */

.carousel-wrapper {
  height: 75vh;
}

.carousel-wrapper [uib-slide] img.image-slide {
  height: 75vh;
}

@media screen and (max-width: 720px) {
  .carousel-wrapper [uib-slide] img.image-slide {
    height: auto;
    width: 100%;
  }
}

td[class*="status-"] {
  font-weight: 600;
}

.status-pending,
.status-roomdeleted,
.status-updated {
  color: #ff7728;
}
.status-accepted {
  color: #59e244;
}
.status-canceled {
  color: #e71a1a;
}

.entity-container {
  user-select: none;
}

.status-room-updated {
  width: 20px;
  height: 20px;
  overflow: visible;
}
.status-room-updated > div,
.status-room-updated > a {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.status-room-updated > a {
  background-color: #ff7728;
}
.jk-tooltip {
  width: fit-content !important;
}
/* .navbar-collapse.in,
.navbar-collapse.collapsing,
.navbar-collapse.collapse {
  overflow: unset;
} */

tbody > tr > td > a.alert-room {
  color: #ff7728;
}
