
<div>
    <h2><span translate="reservationsApp.reservation.detail.title">Reservation</span> {{reservation.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="reservationsApp.reservation.userLogin">UserLogin</span>
                </td>
                <td>
                    <span class="form-control-static">{{reservation.userLogin}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.reservation.usageTimeStart">UsageTimeStart</span>
                </td>
                <td>
                    <span class="form-control-static">{{reservation.usageTimeStart | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.reservation.usageTimeEnd">UsageTimeEnd</span>
                </td>
                <td>
                    <span class="form-control-static">{{reservation.usageTimeEnd | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.reservation.details">Details</span>
                </td>
                <td>
                    <span class="form-control-static">{{reservation.details}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.reservation.timeInput">TimeInput</span>
                </td>
                <td>
                    <span class="form-control-static">{{reservation.timeInput | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.reservation.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{reservation.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.reservation.room">room</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="room.detail({id:reservation.roomId})">{{reservation.roomId}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
