<div class="entity-container">
  <h2 translate="reservationsApp.reservation.home.title">Reservations</h2>
  <jh-alert></jh-alert>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary" ui-sref="reservation.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span translate="reservationsApp.reservation.home.createLabel">Create new Reservation
          </span>
        </button>
      </div> -->

      <!-- Filter  -->
      <div class="col-xs-12 row filter-bar" ng-controller="FilterController">
        <div class="filter-wrapper">

          <div class="btn-group" uib-dropdown on-toggle="toggleDropDown(open)">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
              <span>{{ convert(selectedFilter) }}</span>
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>

            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-repeat="filter in filters" ng-click="setFilterValue(filter)">
                <a href="javascript:void(0)">{{convert(filter)}}</a>
              </li>
            </ul>
          </div>

          <input id="filter-input-field" ng-model="key" type="text" class="form-control" placeholder="search..." />

          <button class="btn btn-primary" ng-click="startFilter()">
            <span class="glyphicon glyphicon-search"></span>Find
          </button>

          <button class="btn btn-primary" ng-click="refresh(onlyCurrentUser)">
            <span class="glyphicon glyphicon-refresh"></span>Refresh
          </button>

          <div class="form-group" ng-show="showIfUser" style="margin-top: 10px">
            <label>
              <input name="user-only" type="checkbox" ng-model="onlyCurrentUser"
                ng-change="setDropdown(onlyCurrentUser)" class="filled-in" />
              <span>Specify By your Account</span>
            </label>
          </div>

        </div>
      </div>
      <!-- End FIlter -->

    </div>
  </div>
  <br />
  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">

          <th class="text-center status-room-updated">
            <div></div>
          </th>

          <th class="text-center" jh-sort-by="id" has-authority="ROLE_ADMIN">
            <span translate="global.field.id">ID</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>

          <th class="text-center" jh-sort-by="userLogin">
            <span translate="reservationsApp.reservation.userLogin">UserLogin</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>

          <th class="text-center" jh-sort-by="roomId">
            <span translate="reservationsApp.reservation.room">room</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>

          <th class="text-center" jh-sort-by="usageTimeStart">
            <span translate="reservationsApp.reservation.usageTimeStart">UsageTimeStart</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>

          <th class="text-center" jh-sort-by="usageTimeEnd">
            <span translate="reservationsApp.reservation.usageTimeEnd">UsageTimeEnd</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>

          <th class="text-center">
            <span translate="reservationsApp.reservation.details">Details</span>
          </th>

          <!-- <th class="text-center" jh-sort-by="timeInput">
            <span translate="reservationsApp.reservation.timeInput">TimeInput</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th> -->

          <th class="text-center" jh-sort-by="status">
            <span translate="reservationsApp.reservation.status">Status</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>

          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="reservation in reservations track by reservation.id">
          <!-- ng-show="reservation.roomUpdateInfo !== null && account.login === reservation.userLogin" -->
          <td class="text-center status-room-updated"
            ng-switch="reservation.roomUpdateInfo !== null && account.login === reservation.userLogin">
            <a href="javascript:void(0)" ng-switch-when="true" class="pulse"
              uib-tooltip="{{reservation.roomUpdateInfo}}" tooltip-placement="bottom" tooltip-class="jk-tooltip"
              ui-sref="reservation.edit({id:reservation.id})"></a>
          </td>

          <td class="text-center" has-authority="ROLE_ADMIN">
            <a ui-sref="reservation.detail({id:reservation.id})">
              {{reservation.id}}
            </a>
          </td>

          <td class="text-center">
            <a ui-sref="user-management-detail({login:reservation.userLogin})">
              {{reservation.userLogin}}
            </a>
          </td>

          <td class="text-center">
            <a ui-sref="room.detail({id:reservation.roomId})">{{reservation.roomName}}</a>
          </td>

          <td class="text-center">
            {{reservation.usageTimeStart | date:'medium'}}
          </td>
          <td class="text-center">
            {{reservation.usageTimeEnd | date:'medium'}}
          </td>
          <td class="text-center">{{reservation.details}}</td>
          <!-- <td class="text-center">{{reservation.timeInput | date:'medium'}}</td> -->
          <td class="text-center" ng-class="'status-'+setStatus(reservation.status).replace(' ', '').toLowerCase()">
            {{setStatus(reservation.status)}}
          </td>

          <td class="text-right">
            <div class="btn-group flex-btn-group-container"
              ng-switch="account.authorities.includes('ROLE_ADMIN') || account.login === reservation.userLogin">
              <!-- <button type="submit" ui-sref="reservation.detail({id:reservation.id})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
              </button> -->

              <button type="submit" ui-sref="reservation.edit({id:reservation.id})" class="btn btn-primary btn-sm green"
                title="Edit" ng-switch-when="true">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm"></span>
              </button>

              <button ng-switch-when="true" type="submit" ui-sref="reservation.delete({id:reservation.id})"
                class="btn btn-danger btn-sm red" title="Delete">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-xs hidden-sm"></span>
              </button>
              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()">
    </uib-pagination>
  </div>
</div>