<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
    <h4 class="modal-title" id="myReservationLabel" translate="reservationsApp.reservation.home.createOrEditLabel">
      Create or edit a Reservation</h4>
  </div>
  <div class="modal-body">
    <jh-alert-error></jh-alert-error>

    <!-- <div class="form-group">
      <label for="id" translate="global.field.id">ID</label>
      <input type="text" class="form-control" id="id" name="id" ng-model="reservation.id" readonly />
    </div> -->

    <!-- <div class="form-group">
      <label class="control-label" translate="reservationsApp.reservation.userLogin"
        for="field_userLogin">UserLogin</label>
      <input type="text" class="form-control" name="userLogin" id="field_userLogin" ng-model="reservation.userLogin" />
    </div> -->

    <div class="form-group">
      <label translate="reservationsApp.reservation.room" for="field_room">room</label>
      <select class="form-control" id="field_room" name="room" ng-model="reservation.roomId"
        ng-options="room.id as room.roomName for room in rooms" required>
        <option value=""></option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" translate="reservationsApp.reservation.usageTimeStart"
        for="field_usageTimeStart">UsageTimeStart</label>
      <input type="datetime-local" class="form-control" name="usageTimeStart" id="field_usageTimeStart"
        ng-model="reservation.usageTimeStart" required />
      <div ng-show="editForm.usageTimeStart.$invalid">
        <p class="help-block" ng-show="editForm.usageTimeStart.$error.required" translate="entity.validation.required">
          This field is required.
        </p>
        <p class="help-block" ng-show="editForm.usageTimeStart.$error.ZonedDateTimelocal"
          translate="entity.validation.ZonedDateTimelocal">
          This field should be a date and time.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" translate="reservationsApp.reservation.usageTimeEnd"
        for="field_usageTimeEnd">UsageTimeEnd</label>
      <input type="datetime-local" class="form-control" name="usageTimeEnd" id="field_usageTimeEnd"
        ng-model="reservation.usageTimeEnd" required />
      <div ng-show="editForm.usageTimeEnd.$invalid">
        <p class="help-block" ng-show="editForm.usageTimeEnd.$error.required" translate="entity.validation.required">
          This field is required.
        </p>
        <p class="help-block" ng-show="editForm.usageTimeEnd.$error.ZonedDateTimelocal"
          translate="entity.validation.ZonedDateTimelocal">
          This field should be a date and time.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" translate="reservationsApp.reservation.details" for="field_details">Details</label>
      <textarea class="form-control" name="details" id="field_details" ng-model="reservation.details"></textarea>
    </div>

    <!-- <div class="form-group" has-authority="ROLE_ADMIN">
      <label class="control-label" translate="reservationsApp.reservation.timeInput"
        for="field_timeInput">TimeInput</label>
      <input type="datetime-local" class="form-control" name="timeInput" id="field_timeInput"
        ng-model="reservation.timeInput" />
    </div> -->

    <div class="form-group" has-authority="ROLE_ADMIN">
      <!-- <input type="number" class="form-control" name="status" id="field_status" ng-model="reservation.status" /> -->
      <label class="control-label" translate="reservationsApp.reservation.status" for="field_status">Status</label>
      <select class="form-control" id="field_status" name="status" ng-model="reservation.status"
        ng-options="state.id as state.text for state in statusValue">
        <!-- <option ng-repeat="(index, state) in statusValue" ng-value="+index">{{state}}</option> -->
      </select>
    </div>


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
  </div>

</form>