
<div>
    <h2><span translate="reservationsApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="reservationsApp.customer.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{customer.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.customer.phone">Phone</span>
                </td>
                <td>
                    <span class="form-control-static">{{customer.phone}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.customer.userInput">UserInput</span>
                </td>
                <td>
                    <span class="form-control-static">{{customer.userInput}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reservationsApp.customer.timeInput">TimeInput</span>
                </td>
                <td>
                    <span class="form-control-static">{{customer.timeInput | date:'medium'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
