<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
    <h4 class="modal-title" id="myCustomerLabel" translate="reservationsApp.customer.home.createOrEditLabel">Create or
      edit a Customer</h4>
  </div>
  <div class="modal-body">
    <jh-alert-error></jh-alert-error>
    <div class="form-group">
      <label class="control-label" translate="reservationsApp.customer.name" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" ng-model="customer.name" />
      <div ng-show="editForm.name.$invalid">
        <p class="help-block" ng-show="editForm.name.$error.required" translate="entity.validation.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" translate="reservationsApp.customer.phone" for="field_phone">Phone</label>
      <input type="text" class="form-control" name="phone" id="field_phone" ng-model="customer.phone" />
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
  </div>
</form>