<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <span>Room Reservations</span>
        <!-- <span class="navbar-version">v{{VERSION}}</span></a> -->
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">

      <ul class="nav navbar-nav navbar-right">

        <li ui-sref-active="active" ng-switch-when="false">
          <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="glyphicon glyphicon-home"></span>
            <span class="hidden-sm" translate="global.menu.home">Home</span>
          </a>
        </li>

        <li ui-sref-active="active" ng-switch-when="true" has-only-authority="ROLE_USER">
          <a data-target=".navbar-collapse.in" data-toggle="collapse" ui-sref="reservation">
            <span class="glyphicon glyphicon-list-alt"></span>&#xA0;
            <span translate="global.menu.entities.reservation">Reservations</span>
          </a>
        </li>

        <!-- <li ui-sref-active="active" ng-switch-when="true" has-authority="ROLE_ADMIN">
          <a data-target=".navbar-collapse.in" data-toggle="collapse" ui-sref="room">
            <span class="glyphicon glyphicon-list-alt"></span>&#xA0;
            <span translate="global.menu.entities.room">Rooms</span>
          </a>
        </li>

        <li ui-sref-active="active" ng-switch-when="true" has-authority="ROLE_ADMIN">
          <a data-target=".navbar-collapse.in" data-toggle="collapse" ui-sref="item">
            <span class="glyphicon glyphicon-list-alt"></span>&#xA0;
            <span translate="global.menu.entities.item">Items</span>
          </a>
        </li> -->

        <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer" has-authority="ROLE_ADMIN">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">
            <span>
              <span class="glyphicon glyphicon-th-list"></span>
              <span class="hidden-sm" translate="global.menu.entities.main">
                Entities
              </span>
              <b class="caret"></b>
            </span>
          </a>

          <ul class="dropdown-menu">
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->

            <!-- <li ui-sref-active="active"><a ui-sref="customer" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                &#xA0;<span translate="global.menu.entities.customer">Customer</span></a></li> -->

            <!-- Item Entity -->
            <li ui-sref-active="active" has-authority="ROLE_ADMIN">
              <a ui-sref="item" data-toggle="collapse" data-target=".navbar-collapse.in">
                <span class="glyphicon glyphicon-asterisk"></span>&#xA0;
                <span translate="global.menu.entities.item">Item</span>
              </a>
            </li>
            <!--  -->

            <!-- Room Entity -->
            <li ui-sref-active="active" has-authority="ROLE_ADMIN">
              <a ui-sref="room" data-toggle="collapse" data-target=".navbar-collapse.in"><span
                  class="glyphicon glyphicon-asterisk"></span>
                &#xA0;<span translate="global.menu.entities.room">Room</span>
              </a>
            </li>
            <!--  -->

            <!-- Reservation Entity -->
            <li ui-sref-active="active">
              <a ui-sref="reservation" data-toggle="collapse" data-target=".navbar-collapse.in">
                <span class="glyphicon glyphicon-asterisk"></span>&#xA0;
                <span translate="global.menu.entities.reservation">Reservation</span>
              </a>
            </li>
            <!--  -->

            <!-- Log Entity -->
            <li ui-sref-active="active" has-authority="ROLE_ADMIN">
              <a ui-sref="updateLog" data-toggle="collapse" data-target=".navbar-collapse.in">
                <span class="glyphicon glyphicon-asterisk"></span>&#xA0;
                <span translate="global.menu.entities.updateLog">Update log</span>
              </a>
            </li>
            <!--  -->

            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          </ul>
        </li>
        <li class="dropdown pointer" ng-switch-when="true">
          <a class="dropdown-toggle notif" data-toggle="dropdown" href="" id="notif-menu">
            <span>
              <span class="glyphicon glyphicon-bell"></span>
              <span class="hidden-sm">
                Notifications
              </span>
              <b class="caret"></b>
            </span>
          </a>
          <ul class="dropdown-menu">

          </ul>
        </li>

        <li ng-class="{active: $state.includes('account')}" ng-switch-when="true" class="dropdown pointer">
          <a class="dropdown-toggle" data-toggle="dropdown" href="" id="account-menu">
            <span>
              <span class="glyphicon glyphicon-user"></span>
              <span class="hidden-sm" translate="global.menu.account.main">
                Account
              </span>
              <b class="caret"></b>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="settings" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                &#xA0;<span translate="global.menu.account.settings">Settings</span></a>
            </li>

            <li ui-sref-active="active"><a ui-sref="password" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                &#xA0;<span translate="global.menu.account.password">Password</span></a>
            </li>

            <li ui-sref-active="active"><a href="" ng-click="logout()" id="logout" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                &#xA0;<span translate="global.menu.account.logout">Sign out</span></a>
            </li>

          </ul>
        </li>

        <li ng-class="{active: $state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN"
          class="dropdown pointer">
          <a class="dropdown-toggle" data-toggle="dropdown" href="" id="admin-menu">
            <span>
              <span class="glyphicon glyphicon-tower"></span>
              <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
              <b class="caret"></b>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
            <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
            <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
            <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
            <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span
                  class="glyphicon glyphicon-tasks"></span>
                &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
            <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse"
                data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
          </ul>
        </li>

        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse"
            data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
            &#xA0;<span translate="global.menu.account.login">Sign in</span></a>
        </li>

        <li ui-sref-active="active" ng-switch-when="false">
          <a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="glyphicon glyphicon-plus-sign"></span>&#xA0;
            <span translate="global.menu.account.register">Register</span>
          </a>
        </li>
        <!-- <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)" data-toggle="collapse" data-target=".navbar-collapse.in">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li> -->
      </ul>
    </div>
  </div>
</nav>