<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>reservations</title>
  <meta name="description" content>
  <meta name="google" value="notranslate">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css assets/styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css assets/styles/main.css -->
  <link rel="stylesheet" href="assets/styles/main.css">
  <link rel="stylesheet" href="assets/styles/mate.css">
  <!-- endbuild -->

  <script>
    const log = console.log;

    function isClass(fn) {
      if (typeof fn !== "function") return false;
      if (fn.prototype === undefined) return false;
      let props = Object.getOwnPropertyNames(fn.prototype);
      let length = props.length;

      let ctorStr = fn.toString().substring(0, 5) === 'class';
      let thisInCtor = fn.toString();
      return props[0] === 'constructor' && (ctorStr || length >= 2);
    }

  </script>

  <script src="scripts/lib/materialize.js"></script>
</head>

<body ng-app="reservationsApp">
  <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak></div>
  <div ui-view="navbar" ng-cloak></div>
  <div class="container">
    <div class="well" ui-view="content"></div>

    <!-- <div class="footer">
      <p translate="footer">This is your footer</p>
    </div> -->
  </div>

  <div ng-controller="FloatButtonCtrl" class="fixed-action-btn" uib-tooltip="{{'create new ' + currentPage}}"
    tooltip-placement="left" ng-show="show" ng-click="openModalDialogue()" m-fab m-fab-direction='top'
    m-fab-hover="true">
    <a id="open-new-modal" ng-href="{{hrefLink}}"
      class="m-btn-floating m-btn-large blue-primary glyphicon glyphicon-plus">
    </a>

    <ul ng-switch="">
      <li>
        <a class="m-btn-floating red"></a>
      </li>
      <li>
        <a class="m-btn-floating yellow darken-1"></a>
      </li>
      <li>
        <a class="m-btn-floating green"></a>
      </li>
    </ul>

  </div>
  <!-- <div ng-controller="FloatButtonCtrl" class="fixed-action-btn" m-fab m-fab-direction="top" m-fab-hover="true"
    m-fab-click="test">
    <a class="m-btn-floating m-btn-large blue-primary glyphicon glyphicon-pencil">
    </a>
    <ul>
      <li>
        <a class="m-btn-floating red"></a>
      </li>
      <li>
        <a class="m-btn-floating yellow darken-1"></a>
      </li>
      <li>
        <a class="m-btn-floating green"></a>
      </li>
      <li>
        <a class="m-btn-floating blue"></a>
      </li>
    </ul>
  </div> -->



  <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/messageformat/messageformat.js"></script>
  <script
    src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
  <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
  <!-- endbower -->
  <!-- endbuild -->


  <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
  <script src="scripts/app/app.js"></script>
  <script src="scripts/app/app.constants.js"></script>
  <script src="scripts/components/auth/auth.service.js"></script>
  <script src="scripts/components/auth/principal.service.js"></script>
  <script src="scripts/components/auth/authority.directive.js"></script>
  <script src="scripts/components/auth/services/account.service.js"></script>
  <script src="scripts/components/auth/services/activate.service.js"></script>
  <script src="scripts/components/auth/services/password.service.js"></script>
  <script src="scripts/components/auth/services/register.service.js"></script>
  <script src="scripts/components/form/form.directive.js"></script>
  <script src="scripts/components/form/maxbytes.directive.js"></script>
  <script src="scripts/components/form/minbytes.directive.js"></script>
  <script src="scripts/components/form/uib-pager.config.js"></script>
  <script src="scripts/components/form/uib-pagination.config.js"></script>
  <script src="scripts/components/admin/audits.service.js"></script>
  <script src="scripts/components/admin/logs.service.js"></script>
  <script src="scripts/components/admin/configuration.service.js"></script>
  <script src="scripts/components/admin/monitoring.service.js"></script>
  <script src="scripts/components/interceptor/auth.interceptor.js"></script>
  <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
  <script src="scripts/components/interceptor/notification.interceptor.js"></script>
  <script src="scripts/components/navbar/navbar.directive.js"></script>
  <script src="scripts/components/navbar/navbar.controller.js"></script>
  <script src="scripts/components/user/user.service.js"></script>
  <script src="scripts/components/util/truncate.filter.js"></script>
  <script src="scripts/components/util/base64.service.js"></script>
  <script src="scripts/components/util/capitalize.filter.js"></script>
  <script src="scripts/components/alert/alert.service.js"></script>
  <script src="scripts/components/alert/alert.directive.js"></script>
  <script src="scripts/components/util/parse-links.service.js"></script>
  <script src="scripts/components/util/date-util.service.js"></script>
  <script src="scripts/components/util/data-util.service.js"></script>
  <script src="scripts/components/util/sort.directive.js"></script>
  <script src="scripts/components/util/SelfUtil.service.js"></script>

  <script src="scripts/components/materialize/floatButton.directive.js"></script>


  <script src="scripts/app/account/account.js"></script>
  <script src="scripts/app/account/activate/activate.js"></script>
  <script src="scripts/app/account/activate/activate.controller.js"></script>
  <script src="scripts/app/account/login/login.js"></script>
  <script src="scripts/app/account/login/login.controller.js"></script>
  <script src="scripts/app/account/password/password.js"></script>
  <script src="scripts/app/account/password/password.controller.js"></script>
  <script src="scripts/app/account/password/password.directive.js"></script>
  <script src="scripts/app/account/register/register.js"></script>
  <script src="scripts/app/account/register/register.controller.js"></script>
  <script src="scripts/app/account/settings/settings.js"></script>
  <script src="scripts/app/account/settings/settings.controller.js"></script>
  <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
  <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
  <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
  <script src="scripts/app/account/reset/request/reset.request.js"></script>
  <script src="scripts/app/admin/admin.js"></script>
  <script src="scripts/app/admin/audits/audits.js"></script>
  <script src="scripts/app/admin/audits/audits.controller.js"></script>
  <script src="scripts/app/admin/configuration/configuration.js"></script>
  <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
  <script src="scripts/app/admin/docs/docs.js"></script>
  <script src="scripts/app/admin/health/health.js"></script>
  <script src="scripts/app/admin/health/health.controller.js"></script>
  <script src="scripts/app/admin/health/health.modal.controller.js"></script>
  <script src="scripts/app/admin/logs/logs.js"></script>
  <script src="scripts/app/admin/logs/logs.controller.js"></script>
  <script src="scripts/app/admin/metrics/metrics.js"></script>
  <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
  <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
  <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
  <script src="scripts/app/admin/user-management/user-management-dialog.controller.js"></script>
  <script src="scripts/app/admin/user-management/user-management-delete-dialog.controller.js"></script>
  <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
  <script src="scripts/app/admin/user-management/user-management.js"></script>
  <script src="scripts/app/entities/entity.js"></script>
  <script src="scripts/app/error/error.js"></script>
  <script src="scripts/app/main/main.js"></script>
  <script src="scripts/app/main/main.controller.js"></script>
  <script src="bower_components/messageformat/locale/en.js"></script>
  <script src="bower_components/messageformat/locale/fr.js"></script>
  <script src="scripts/components/language/language.service.js"></script>
  <script src="scripts/components/language/language.controller.js"></script>
  <script src="scripts/components/auth/provider/auth.oauth2.service.js"></script>
<script src="scripts/app/entities/mini.controller.js"></script>

<!-- <script src="scripts/app/entities/customer/customer.js"></script>
  <script src="scripts/app/entities/customer/customer.controller.js"></script>
  <script src="scripts/app/entities/customer/customer-dialog.controller.js"></script>
  <script src="scripts/app/entities/customer/customer-delete-dialog.controller.js"></script>
  <script src="scripts/app/entities/customer/customer-detail.controller.js"></script>
  <script src="scripts/components/entities/customer/customer.service.js"></script> -->
  
  <script src="scripts/components/entities/entities.service.js"></script>

  <script src="scripts/app/entities/item/item.js"></script>
  <script src="scripts/app/entities/item/item.controller.js"></script>
  <script src="scripts/app/entities/item/item-dialog.controller.js"></script>
  <script src="scripts/app/entities/item/item-delete-dialog.controller.js"></script>
  <script src="scripts/app/entities/item/item-detail.controller.js"></script>
  
  <!-- <script src="scripts/components/entities/item/item.service.js"></script> -->
  
  <script src="scripts/app/entities/room/room.js"></script>
  <script src="scripts/app/entities/room/room.controller.js"></script>
  <script src="scripts/app/entities/room/room-dialog.controller.js"></script>
  <script src="scripts/app/entities/room/room-delete-dialog.controller.js"></script>
  <script src="scripts/app/entities/room/room-detail.controller.js"></script>
  
  <!-- <script src="scripts/components/entities/room/room.service.js"></script> -->
  
  <script src="scripts/app/entities/reservation/reservation.js"></script>
  <script src="scripts/app/entities/reservation/reservation.controller.js"></script>
  <script src="scripts/app/entities/reservation/reservation-dialog.controller.js"></script>
  <script src="scripts/app/entities/reservation/reservation-delete-dialog.controller.js"></script>
  <script src="scripts/app/entities/reservation/reservation-detail.controller.js"></script>
  
  <!-- <script src="scripts/components/entities/reservation/reservation.service.js"></script> -->

  <script src="scripts/app/entities/updateLog/updateLog.js"></script>
  <script src="scripts/app/entities/updateLog/updateLog.controller.js"></script>
  <script src="scripts/app/entities/updateLog/updateLog-dialog.controller.js"></script>
  <script src="scripts/app/entities/updateLog/updateLog-delete-dialog.controller.js"></script>
  <script src="scripts/app/entities/updateLog/updateLog-detail.controller.js"></script>
  <!-- <script src="scripts/components/entities/updateLog/updateLog.service.js"></script> -->
  <!-- endbuild -->
</body>

</html>